<div class="container">
    <div class="row">
        <div class="col">
            <form id="movieForm">
                <div class="mb-3">
                    <input type="text" class="form-control" id="movieTitle">
                </div>
                <button type="submit" class="btn btn-primary">Add move to list</button>
                <a href="/" class="btn btn-link"> Back to movie list</a>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#movieForm").on("submit", function (e) {
            e.preventDefault();
            const movieTitle = $("#movieTitle").val();
            $.ajax("/api/movies", {
                type: "POST", data: {
                    movie: movieTitle
                }
            }).then(response => {
                console.log(response);
                alert("Movie was added to the watch list!")
                window.location.href = "/";
            })
        })
    })

</script>