<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <button type="submit" class="btn btn-primary">Add move to list</button>
            </form>
        </div>
    </div>
</div>